body {
  background-color:DarkSlateBlue;
  color:Black;
  text-align:center;
  font-family:Tahoma
}
ul {
  text-align:center;
}
h1 {
  font-size:50px
}
p {
  margin:auto;
  font-size:20px
}
a:link {
  color: DarkSlateGray;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: CornflowerBlue;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: DarkGray;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}

a:active {
  color: CornflowerBlue;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}
