body {
  background-color:CadetBlue;
  color:Black;
  font-family:Tahoma
}


.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  background-color: Grey;
  padding: 5px;
}
.container div {
  background-color: CadetBlue;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
  text-align: left;
  margin: 5px, 25px
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}

h1 {
  font-size:50px
}
p {
  margin:auto;
  font-size:20px
}
ul {
  list-style-position: inside;
  text-align: left;
}

a:link {
  color: DimGray;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: DarkSlateGray;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: DimGray;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  color: DarkSlateGray;
  background-color: transparent;
  font-weight: bold;
  text-decoration: underline;
}
